In [5]:
import pandas as pd
import matplotlib as plt
from matplotlib import font_manager, rc

plt.rc('font', family='Malgun Gothic')

In [6]:
url='https://sports.news.naver.com/kbaseball/record/index?category=kbo&year='

In [7]:
df=pd.DataFrame([])

In [9]:
df1=pd.read_html(url)[0]

In [10]:
df1

   순위    팀  경기수   승   패  무     승률   게임차  연속    출루율    장타율   최근 10경기
0   1  SSG  144  88  52  4  0.629   0.0  4패  0.336  0.396  4승-6패-0무
1   2   키움  144  80  62  2  0.563   9.0  1승  0.333  0.364  5승-5패-0무
2   3   LG  144  87  55  2  0.613   2.0  1승  0.346  0.396  4승-6패-0무
3   4   KT  144  80  62  2  0.563   9.0  1패  0.330  0.375  7승-3패-0무
4   5  KIA  144  70  73  1  0.490  19.5  1패  0.349  0.398  7승-3패-0무
5   6   NC  144  67  74  3  0.475  21.5  1패  0.334  0.375  6승-4패-0무
6   7   삼성  144  66  76  2  0.465  23.0  2승  0.334  0.387  6승-4패-0무
7   8   롯데  144  64  76  4  0.457  24.0  1승  0.328  0.383  5승-5패-0무
8   9   두산  144  60  82  2  0.423  29.0  2패  0.324  0.365  4승-6패-0무
9  10   한화  144  46  96  2  0.324  43.0  1패  0.319  0.352  3승-7패-0무

In [ ]:
for i in range(2012,2022+1):
    df1= pd.read_html(url+str(i))[0]
    df1['연도']=str(i)
    df=pd.concat([df,df1])

In [ ]:
df.head(30)

In [ ]:
df=df.repalce({'kt':'KT','SK':'SSG','넥센':"키움"})

pivot(): 두개의 열을 기준으로 행과 열을 재구성
    
pivot_table(): 교재에서 배운 함수, 데이터 집계 함수를 사용

In [ ]:
df_pivot1= df.pivot(index="연도",columns="팀", values='순위')

In [ ]:
df_pivot1

In [ ]:
df_pivot2=df.pivot(index="연도",columns="순위",values='팀')

In [ ]:
df_pivot2